In [2]:
import pandas as pd
import time
import lxml
import unicodedata
import numpy as np
import math

In [7]:
url_list = ['https://www.nikkansports.com/baseball/professional/score/2020/cl2020092216.html',
'https://www.nikkansports.com/baseball/professional/score/2020/cl2020092312.html',
'https://www.nikkansports.com/baseball/professional/score/2020/cl2020092510.html',
'https://www.nikkansports.com/baseball/professional/score/2020/cl2020092612.html',
'https://www.nikkansports.com/baseball/professional/score/2020/cl2020092712.html'
]
list_num = [0, 0, 2, 2, 2]

In [16]:
def get_batter_data(url, order):
    data = pd.read_html(url)
    time.sleep(2)
    batter = data[order][(data[order]["守備"] != "投") & (data[order]["守備"] != "(投)")].reset_index(drop = True)[:-1]
    return batter

In [11]:
def columns_zen2han(data):
    # 全角 -> 半角に変換する辞書
    ZEN = "".join(chr(0xff01 + i) for i in range(94))
    HAN = "".join(chr(0x21 + i) for i in range(94))
    ZEN2HAN = str.maketrans(ZEN, HAN)
    new_columns = []
    for col in data.columns:
        new_col = ''
        for num_char in range(len(col)):
            if unicodedata.east_asian_width(col[num_char]) == 'F':
                new_char = col[num_char].translate(ZEN2HAN)
                new_col += new_char
            else:
                new_col += col[num_char]
        new_columns.append(new_col)
    data.columns = new_columns
    return data

In [81]:
def is_nan(x):
    return x != x

In [84]:
def contents_zen2han(data):
    # 全角 -> 半角に変換する辞書
    ZEN = "".join(chr(0xff01 + i) for i in range(94))
    HAN = "".join(chr(0x21 + i) for i in range(94))
    ZEN2HAN = str.maketrans(ZEN, HAN)

    cols = ["打数", "得点", "安打", "打点", "HR", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
    for col in cols:
        new_contents = []
        for content in data[col]:
            output = ''
            if is_nan(content):
                output = content
            elif content == "……":
                new_char = np.nan
                output = new_char
            else:
                for char_num in range(len(content)):
                    if unicodedata.east_asian_width(content[char_num]) == 'F':
                        new_char = content[char_num].translate(ZEN2HAN)
                        output += new_char
                    else:
                        output += content[char_num]
            new_contents.append(output)
        data[col] = new_contents
    return data

In [83]:
score_list = []
for i in range(len(url_list)):
    print(i)
    batter = get_batter_data(url_list[i], list_num[i])
    batter = columns_zen2han(batter)
    batter = contents_zen2han(batter)
    batter = batter.loc[:, ["選手名", "打数", "得点", "安打", "打点"]]
    score_list.append(batter)

0
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
1
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
2
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
3
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
4
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!
This is nan!

In [85]:
score_list[0]

    選手名 打数 得点 安打 打点
0   田中広  4  0  1  0
1   菊池涼  4  0  1  0
2    坂倉  4  0  1  0
3    曽根  0  1  0  0
4   鈴木誠  4  1  1  0
5    松山  4  1  2  1
6    上本  0  0  0  0
7    長野  4  1  1  3
8    堂林  4  0  0  0
9    大盛  3  0  1  0
10  ピレラ  1  0  0  0
11   磯村  0  0  0  0